.horizontal-scroll{
  overflow-x: scroll;
 -webkit-overflow-scrolling: touch;
 padding: 0 0 12px 8px;
 display: -ms-flexbox;
 display: flex;
 position: relative;top:80px;left:10px;
 margin: 20px;
}

.msr_box05 {
  width: 230px;
  height: 300px;
  position: relative;
  margin: 8px;
  background-color: #33CC00;
}
.msr_box05 a{
  box-sizing: border-box;
  color: #33CC00;
  display:block;
  text-decoration: none;
}
.msr_box05 a *{
  transition: 0.2s opacity ease-in-out;
  -o-transition: 0.2s opacity ease-in-out;
  -moz-transition: 0.2s opacity ease-in-out;
  -webkit-transition: 0.2s opacity ease-in-out;
}
.msr_box05 p {
  font-size: 14px;
  line-height: 1.6;
  padding: 8px;
  color: white;
}
.msr_box05 .ttl {
  font-size: 18px;
  line-height: 1.6;
  padding: 4px 4px 0;
}
.msr_box05 a:hover *{
  opacity: 0.8;
}


.scroll-box::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scroll-box.deco::-webkit-scrollbar-thumb {
  border-radius: 10px;
	background:#09C9D9;
}
