.horizontal-scroll,.horizontal-scroll2{
  overflow-x: scroll;
 -webkit-overflow-scrolling: touch;
 padding: 0 0 12px 8px;
 display: -ms-flexbox;
 display: flex;
 position: relative;top:80px;left:10px;
 margin: 20px;
}
.horizontal-scroll2::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* スクロールの背景の設定 */
.horizontal-scroll2::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}

/* スクロールのつまみ部分の設定 */
.horizontal-scroll2::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #1959A8;
}

.msr_box05 {
  width: 230px;
  height: 300px;
  position: relative;
  margin: 8px;
  background-color: #33CC00;
}
.msr_box05 a{
  box-sizing: border-box;
  color: #33CC00;
  display:block;
  text-decoration: none;
}
.msr_box05 a *{
  transition: 0.2s opacity ease-in-out;
  -o-transition: 0.2s opacity ease-in-out;
  -moz-transition: 0.2s opacity ease-in-out;
  -webkit-transition: 0.2s opacity ease-in-out;
}
.msr_box05 p {
  font-size: 14px;
  line-height: 1.6;
  padding: 8px;
  color: white;
}
.msr_box05 .ttl {
  font-size: 18px;
  line-height: 1.6;
  padding: 4px 4px 0;
}
.msr_box05 a:hover *{
  opacity: 0.8;
}
